$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

.App {
  width: 100vw;
  // height: 100vh;
}

.App-body {
  padding: 1rem ;
}
.App-backdrop {
  color: #fff;
  
  div {
    width: 100vw;
    position: fixed;
    height: 1.5px;
    top: 0
  }
}

.swal2-container {
  z-index: 1301 !important;
}
