$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;
$navbarHeight: 4rem;

.App {
  width: 100vw;
}

.App-body {
  padding: 0 1rem 1rem 1rem;
}
.App-backdrop {
  color: #fff;
  
  div {
    width: 100vw;
    position: fixed;
    height: 1.5px;
    top: 0
  }
}

.swal2-container {
  z-index: 1301 !important;
}
