.NavBar-root.MuiAppBar-root {
  padding: 0.5rem 1rem;
  background-color: rgba(245, 245, 245, 0.7);
}

.NavBar-logo {
  :hover {
    cursor: pointer;
    background-color: transparent !important;
  }
}

.NavBar-profile-popover {
  margin-top: 0.5rem;
  // margin-right: 0.5rem;
}

.NavBar-profile-popover-container {
  padding: 1rem 0.5rem;
  max-width: 15rem;
}